<ul class="list-group list-group-flush border rounded category-list small">
    <li class="list-group-item">
        <a th:href="@{/product/category/1}" class="text-decoration-none d-block fw-normal">
            <i class="bi bi-laptop me-2"></i> Laptop
        </a>
    </li>
    <li class="list-group-item">
        <a href="#" class="text-decoration-none d-block fw-normal">
            <i class="bi bi-controller me-2"></i> Laptop Gaming
        </a>
    </li>
    <li class="list-group-item">
        <a href="#" class="text-decoration-none d-block fw-normal">
            <i class="bi bi-pc-display-horizontal me-2"></i> PC GVN
        </a>
    </li>
    <li class="list-group-item">
        <a href="#" class="text-decoration-none d-block fw-normal">
            <i class="bi bi-cpu me-2"></i> Main, CPU, VGA
        </a>
    </li>
    <li class="list-group-item">
        <a href="#" class="text-decoration-none d-block fw-normal w-100" >
            <i class="bi bi-hdd-stack me-2"></i> Ổ cứng, RAM
        </a>
    </li>
    <li class="list-group-item">
        <a href="#" class="text-decoration-none d-block fw-normal">
            <i class="bi bi-display me-2"></i> Màn hình
        </a>
    </li>
    <li class="list-group-item">
        <a href="#" class="text-decoration-none d-block fw-normal">
            <i class="bi bi-keyboard me-2"></i> Bàn phím
        </a>
    </li>
    <li class="list-group-item">
        <a href="#" class="text-decoration-none d-block fw-normal">
            <i class="bi bi-mouse me-2"></i> Chuột & Lót chuột
        </a>
    </li>
    <li class="list-group-item">
        <a href="#" class="text-decoration-none d-block fw-normal">
            <i class="bi bi-headphones me-2"></i> Tai nghe
        </a>
    </li>
    <li class="list-group-item">
        <a href="#" class="text-decoration-none d-block fw-normal">
            <i class="bi bi-usb-symbol me-2"></i> Phụ kiện
        </a>
    </li>
</ul>


<style>
.category-list a {
    color: inherit;
    transition: color 0.2s ease;
}

.category-list a:hover {
    color: #e30019;
}
</style>